<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="jsonConsole" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>spanId</includeMdcKeyName>
            <includeCallerData>true</includeCallerData>
            <fieldNames class="net.logstash.logback.fieldnames.ShortenedFieldNames"/>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="jsonConsole" />
    </root>
</configuration>